a {
  text-decoration: none;
  color: #D5D0CD;
}
body {
  align-items: center;
  text-align: center;
  background-color:#89909F;
  color: #F8F4E3;
  font-family: 'Inter';
}
img {
  max-width: 90%;
  height: auto;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1)
}
button {
  background-color: #D5D0CD;
  border-radius:10px;
  border: none;
  padding: 10px 10px 10px 10px;
  margin: 3px 3px 3px 3px;
  font-weight: bold;
  font-size: 12px;
}
input {
   background-color: #D5D0CD;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  color: #000000;
}
hr {
    color:#F8F4E3;
    font-weight: bold;
}